<nav class="sidebar">
    <div class="sidebar-header">
        <h4>AcademicVerify</h4>
    </div>
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verifications">
                <i class="fas fa-file-verify"></i>
                <span>My Verifications</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verifications/new">
                <i class="fas fa-plus-circle"></i>
                <span>New Verification</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wallet">
                <i class="fas fa-wallet"></i>
                <span>Wallet</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/team">
                <i class="fas fa-users"></i>
                <span>Team Members</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">
                <i class="fas fa-user-cog"></i>
                <span>Profile Settings</span>
            </a>
        </li>
    </ul>
</nav>